.product-payment {
  .subscription-ready {
    h2 {
      font-size: 24px;    
      font-weight: 500;
      color: #20123b;      
    }
    p {
      margin: 20px 100px;
      font-size: 16px;
      color: #0c0c0d;      
    }
    a {
      font-size: 16px;
    }
  }
}